<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ValTech" parallel="tests" thread-count="2">
    <test name="ValTechTest">
    <classes>
        <class name="com.valtech.pages.HomePage">
            <methods>
                <include name="questionOneAndTwo"/>
                <include name="question3"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>